<%= link_to "Vehicles Index", "/vehicles"%>
<%= link_to "Makers Index", "/makers" %>
<%= link_to "New Maker", "/makers/new" %>
<h1> Makers Index </h1>
<% @makers.each do |maker| %>
<p><%= maker.name %></p>
<% end %>
